*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: floralwhite;
  color: purple;
  font-size: 16px;
}

.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: seagreen;
  display: flex;
  justify-content: center;
}

.buttonNav {
  margin: 10px;
  width: 50px;
  height: 30px;
}
