*,
*::after,
*::before {
  box-sizing: border-box;
}

$primary-color: floralwhite;
$secondary-color: seagreen;
$third-color: purple;
$fourth-color: skyblue;
$fith-color: yellow;
$sixth-color: tomato;

body {
  margin: 0;
  background-color: $primary-color;
  color: $third-color;
  font-size: 16px;
}

.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
}

.buttonNav {
  font-size: 1.2rem;
  margin: 10px;
  width: 50px;
  height: 30px;
  background-color: $fourth-color;
  border: none;
  outline: none;
  cursor: zoom-in;
}

.buttonNav:hover {
  transform: scale(1.5);
  transition: ease-in-out 0.2s;
}

.buttonNav:active {
  transform: scale(2.5);
  background-color: $fith-color;
  transition: ease-in-out 0.2s;
}

.active {
  background-color: $sixth-color;
}
